@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;

  --color-shop-dark-blue: #0B1A6A;
  --color-shop-bright-blue: #1E90FF;  
  --color-shop-light-sky-blue: #00BFFF;
  --color-shop-steel-blue: #4682B4;
  --color-shop-deep-blue: #000080;
  --color-shop-deep-space-blue: #0B1F3F;
  --color-shop-electric-blue: #007BFF;
  --color-shop-accent-sky-blue: #00CFFF;
  --color-shop-pure-white: #FFFFFF;
  --color-shop-powder-blue: #AFDCEB;
  --color-shop-water: #CAE9F5;
  --color-shop-alice-blue: #F0F8FF;
  --color-shop-light-blue: #ADD8E6;
  --color-shop-pastel-blue: #9ad3de;
  --color-shop-star-active: #4FC3F7;
  --color-shop-star-inactive: #CFD8DC;
  --color-shop-light-Color: #52525b;
}

@layer base {
  .hoverEffect {
    transition: all 0.3s ease-in-out;
  }

  button {
    cursor: pointer;
  }
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
@keyframes fade-in {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out both;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-shop-electric-blue);
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--color-shop-alice-blue);
}
